/* adopted from https://www.w3schools.com/howto/howto_js_alert.asp */

#outdated-warning {
    position: sticky;
}

#outdated-warning.show + #container {
    height: calc(100% - var(--top-navigation-height) - 1.4em * 4 - 1em);
}

.alert {
    padding: 1.4em;
    background-color: #daf8fd;
    color: black;
    border-radius: 0.5em;
    margin: 1rem 2% 1rem 2%;
    line-height: 1.4em;
    display: none;
}
#outdated-warning.show .alert {
    display: block;
}
#main .alert a {
    /* regular border color, i.e. always from the light theme */
    border-bottom: 1px solid rgba(39, 40, 44, .2);
}
#main .alert a:hover {
    border-bottom-color: unset;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
}
#outdated-warning__alert-close {
    cursor: pointer;
    font-size: 2em;
    vertical-align: text-bottom;
}
.closebtn .hint {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.9em;
    vertical-align: baseline;
}
@media screen and (max-width: 950px) {
    .closebtn .hint {
        display: none;
    }
}

.info-icon {
    padding-right: 2.5em;
}
.info-icon::before {
    content: "";
    width: 1.75em;
    height: 1.75em;
    margin-top: -0.25em;
    position: absolute;
    mask-image: url("../images/info.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url("../images/info.svg");
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    background-color: #3535fb;
}
