name: Ubuntu

on: [ push, pull_request ]

jobs:
  build:
    env:
      android-version: 26
      JAVA_VERSION: ${{ matrix.java_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        java_version: [ 11, 17 ]

    steps:
      - uses: actions/checkout@v4
      - name: "Set up JDK ${{ matrix.java_version }}"
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: "build using jdk ${{ matrix.java_version }}"
        run: ./gradlew build

      - name: Upload build code coverage
        uses: codecov/codecov-action@v3.1.4
        if: ${{ github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}

        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: current
          env_vars: JAVA_VERSION
          # too many timeout errors, let's not fail at the moment
          #fail_ci_if_error: true

      - name: Cache android jar
        id: android-cache
        uses: actions/cache@v3
        with:
          path: android-jar-cache
          key: ${{ runner.os }}-android-version-${{ env.android-version }}

      - name: download Android SDK's android.jar (or use cached file)
        if: steps.android-cache.outputs.cache-hit != 'true'
        run: |
          mkdir android-jar-cache
          cd android-jar-cache
          curl -o android.jar -L "https://github.com/Sable/android-platforms/blob/master/android-${{ env.android-version }}/android.jar?raw=true"
          echo "cdc1846376a14b0370cc63454a129606b4a52cc50ada75ef0d4cf956b1ad2daa  android.jar" >android.sha256
          if ! sha256sum -c android.sha256; then
            echo >&2 "wrong sha256 for android.jar, expected:"
            cat >&2 android.sha256
            echo >&2 "actual:"
            sha256sum android.jar
            exit 1;
          fi

      - name: check Atrium's -jvm.jar can be dexed
        run: ATRIUM_ANDROID_JAR="$PWD/android-jar-cache/android.jar" ./gradlew checkDexer

      # TODO 1.5.0 re-activate scala API
      #            -   name: composite build atrium-scala2
      #                run: ./gradlew build
      #                working-directory: misc/tools/atrium-scala2-test


      - name: composite build atrium-samples-test
        run: ./gradlew build
        working-directory: misc/tools/atrium-samples-test

      # TODO 1.2.0 activate again once we use JS IR
#      - name: composite build atrium-js-sample-test
#        run: ./gradlew build
#        working-directory: misc/tools/atrium-js-sample-test

  forwardCompatibility:
    env:
      JAVA_VERSION: 17
      KOTLIN_VERSION: ${{ matrix.kotlin_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        # TODO 1.2.0 add '1.9' once we use JS IR
        kotlin_version: [ '1.5', '1.6','1.7','1.8' ]
    steps:
      - uses: actions/checkout@v4
      - name: "Set up JDK ${{ matrix.java_version }}"
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: "build using kotlin ${{ matrix.kotlin_version }}"
        run: ./gradlew build
