name: Samples

on:
  push:
    paths:
      - 'samples/**'
  pull_request:
    paths:
      - 'samples/**'

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        java_version: [ 11, 17 ]

    steps:
      - uses: actions/checkout@v6
      - name: "Set up JDK ${{ matrix.java_version }}"
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: samples-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            samples-${{ runner.os }}-maven-

      - name: build js sample
        run: ./gradlew build
        working-directory: samples\js\kotlin-test

      - name: build Junit5 sample
        run: ./gradlew build
        working-directory: samples\jvm\junit5

      - name: build maven sample
        run: ./mvnw -B clean verify
        working-directory: samples\jvm\maven

      - name: build kotest sample
        run: ./gradlew build
        working-directory: samples\jvm\kotest

      - name: build TestNG sample
        run: ./gradlew build
        working-directory: samples\jvm\testng

      - name: build MPP sample
        run: ./gradlew build
        working-directory: samples\multiplatform\kotlin-test
